    <!-- Internal Styling-->

        html {
            scroll-behavior: smooth;
        }
        *{
            padding: 0;
            margin: 0;
        }
         .nav-header {
            
            background-color: rgb(185, 184, 184);
            padding: 16px;
            justify-content: center;
            position:sticky;
            top:0;
        }
        .nav-ul {
            list-style: none;
            display:flex;
            gap: 32px;
            flex-direction: row;
            justify-content:space-evenly;
            max-width: 900px;
            min-width: 300px;
            margin: auto;
        }

        a {
            transition: all 0.2s ease-in-out;
            color: rgb(87, 87, 87);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
        }
        a:hover {
            transition: all 0.2s ease-in-out;
            color: rgb(61, 61, 61);
            text-decoration: underline;
        }
        body { 
            background-image: url(https://64.media.tumblr.com/2654559cf9553e8efc126b5e765948e6/315dc451eb73d794-a6/s540x810/c175f29eb7ea23c17c53b8040ce6ed22a190bc5f.png);
            background-size: cover;
            background-repeat:no-repeat;
            background-attachment:fixed;
            background-position:0 -165px;
        }
        main {
            background-color:transparent;
            display: flex;
            flex-direction: column;
            gap: 64px;
            padding: 64px;

        }

        .about-me { 
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
            display: flex;
            flex-direction: column;
            gap: 8px;
            
            padding: 16px
            
        }
        .education {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px;
            
        }
        article{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px;
        }
        
        .article-header {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px;
        }
        ol {
            list-style: none;
            line-height: 24px;
        }
        .p-header {
            display: flex;
            flex-direction:column;
            grid-column: 1;
        }
        .work {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px;

        }
        .tech-stack {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px;
        }
        .tech-stack-ul {
            padding: 4px 14px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';

        }
        footer {
            padding: 64px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items:center;
            background-color: rgb(244, 249, 253);
        }