*{
    padding: 0;
    margin: 0;
}

button{
    border: none;
    background-color:transparent;
}

header{
    background-color: burlywood;
    padding: 16px;
    min-height: calc(100vh - 32px);
}

nav{
    position: relative;
    padding: 32px;
    display: block;
}

.hidden{
    display: none;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

li{
    list-style: none;
}

a{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.social-image{
    max-width: 32px;
}

.menu-btn{
  width: 32px;
  position: absolute;
  top: 0;
  right: 0;
}