*{
    padding: 0;
    margin: 0;
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
}

button{
    border: none;
    background-color:transparent;
}

nav{
    position: relative;
    padding: 16px;
    background-color: f1f1f1;
}

.nav-closed{
    display: flex;
    align-items: center;
}

header nav a:first-child{
    position: relative;
    text-decoration: none;
    color: #111111;
    font-weight: 600;
}

.hidden{
    display: none;
}

.top-0{
    top: 0;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top:  32px;
}

li{
    list-style: none;
}

a{
  font-weight: 400;
}

.social-image{
    max-width: 32px;
}

.menu-btn{
  width: 32px;
  position: absolute;
  right: 0;
}

.news-grid{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.news-card{
    border: 1px solid #2b2b2b;
    gap: 8px;
    border-radius: 12px;
}

.news-image {
    width: 100%;
    border-radius: 12px;
}
.news-title {
    padding-top: 16px;
}